@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#ffffff,#ece0d1, #dbc1ac, #967259);
    background-size: cover;
}

body{
    margin:0;
    height:100%;
    background-size:100%;
}

.main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between, space-around;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.form-group {
    margin: 0 auto;
    border: 3px solid #EEEEEE;
    width: 800px;
    -webkit-birder-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.mainform {
    height: 448px;
    display: flex;
    flex-direction: column;	
	border: 2px;
    align-items: center;
    background: rgba(99,72,50, 0.3);
}

.msg {
	margin-left: 10px;
	margin-right:10px;
}

.send {
	margin-left: 10px;
}


.container {
    margin: 0 auto;
    border: 3px solid #967259;
    width: 800px;
    -webkit-birder-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;	
}

textarea {
    width: 400px;
    height: 150px;
    line-height: 150%;
}
.send input {
    width: auto;
    margin-bottom: 10px;
    background-color: white;
	/* color: black; */
}

p label {
    margin-left: 10px;
    font-style: italic;
    /* color: #000000; */
}

.name input {
    margin-top: 10px;
}

.name input {
    margin-top: 10px;
}

.send input:hover {
    border: 2px solid #967259;
}

.image{
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 70vh;
  }
  
#footer {
    bottom: 0;
    width: 100%;
    height: auto;
    margin-right: 0;
}

.outside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

form { max-width:420px; }

.feedback-input {
    color:#6f4e37;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #6f4e37;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}
  
.feedback-input:focus { border:2px solid #6f4e37; }
  
textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}
  
[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#6f4e37;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:	#ece0d1;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { background:#6f4e37; }

.country {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

select {
    border: none;
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
  }

 ::placeholder {
     color: #6f4e37;
 }

 select {
    outline: none;
    -moz-outline: none;
  }