@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#ffffff,#ece0d1, #dbc1ac, #967259);
    background-size: cover;
}

body{
    margin:0;
    height:100%;
    background-size:100%;
}

.contact {
	display: grid;
	grid-template-columns: repeat(2,1fr);

}

.map {
	margin-bottom: 10px;
    align-items: right;
    padding-right: 30px;
}

input, select {
    border-radius: 3px;
    background-color: rgba(255, 255, 255);
}

textarea {
    border-radius: 3px;
    background-color: rgba(255, 255, 255);
}

input[type="text"] {
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
}

select {
    -webkit-appearance: none;
    font-family: 'Montserrat', sans-serif;

}

.main {
    margin-top: 50px;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    /* color: black; */
}

.form-group {
    margin: 0 auto;
    border: 3px solid #EEEEEE;
    width: 800px;
    -webkit-birder-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.mainform {
    height: 448px;
    display: flex;
    flex-direction: column;
	margin-right: 30px;
	margin-left: 30px;	
	/* color: black; */
	border: 2px;
    align-items: center;
    background: rgba(99,72,50, 0.3);
    border-radius: 10px;
}

.msg {
	margin-left: 10px;
	margin-right:10px;
}

.send {
	margin-left: 10px;
}


.container {
    margin: 0 auto;
    border: 3px solid #EEEEEE;
    width: 800px;
    -webkit-birder-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;	
}

textarea {
    width: 400px;
    height: 150px;
    line-height: 150%;
}
.send input {
    width: auto;
    margin-bottom: 10px;
    background-color: white;
	/* color: black; */
}

p label {
    margin-left: 10px;
    font-style: italic;
    /* color: #000000; */
}

.name input {
    margin-top: 10px;
    /* -webkit-text-fill-color: black; */
}

.name input {
    margin-top: 10px;
}

.send input:hover {
    border: 2px solid #C0C0E3;
}

.image{
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 70vh;
  }
  
#footer {
    bottom: 0;
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .contact-us {
      height: auto;
      padding: 15px;
      font-weight: bold;
      text-align: center;
  }