@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

li {
    margin-bottom: 2%;
}

html{
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    flex: 1 100%;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
}

.header-city {
    height: 25vmax;
    text-align: left;
}

.subheading {
    font-size: 3.5vmax;
    color: #76838a;
}

.header-city-temperature {
    display: flex;
    justify-content: space-between;
    padding: 4%;
    padding-left: 0%;
    align-items: center;
    height: 12vmax;
}

.header-information {
    height: 25vmax;
    width: 25vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

.break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}

.favourites {
    height: 5vmax;
    width: 25vmax;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.favourites-add-city {
    height: 5vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-new-city {
    height: 3.5vmax;
    font-size: 1vmax;
    font-family: inherit;
    padding: 0.25em 0.5em;
    flex: 1;
    background-color: #f1f1f1;
    border: none;
}

.city {
    margin-top: 3vmax;
    height: 30vmax;
    width: 30vmax;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-information {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7vmax;
    width: 100%;
    padding-right: 3%;
}

.refresh-button {
    transition: 0.2s;
    background-color: #c9d2d7;
    border-radius: 0.3vmax;
    padding: 1%;
}

.text-refresh {
    display: none;
}

.text-refresh-none {
    display: block;
    width: 3vmax;
    height: 3vmax;
}

.refresh-button:hover { background: #a7b0b4; }

.refresh-button:active {
    background: #808f97;
    color: white;
}

.round {
    width: 3.5vmax;
    height: 3.5vmax;
    font-size: 2.5vmax;
    color: white;
    text-decoration: none;
    border-radius: 100vmax;
    background: #718188;
    transition: 0.2s;
    margin-left: 2%;
}

.round:hover { background: #596368; }

.round:active {
    background: #596368;
    box-shadow: 0 3vmax #596368 inset;
    color: #6b767c;
}

.img-header {
    width: 12vmax;
    height: 12vmax;
    float: left;
}

.img-general {
    width: 6vmax;
    height: 6vmax;
}

.weather-info {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.info-item {
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #a7afb1;
    color: white;
}

.city-name {
    font-size: 3vmax;
    font-weight: bold; 
    color: #78878c;
    margin-right: 10%;
}

.header-temperature {
    font-size: 10vmax;
    color: #7d7d7d;
    font-weight: bold;
}

.temperature-information {
    font-size: 3vmax;
    color: #7d7d7d;
    font-weight: lighter;
}

h4, p {
    font-weight: bold;
    font-size: 1.5vmax;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.light {
    font-weight: lighter;
}

button {
    padding: 0;
    border: none;
    outline: none;
}

@media all and (min-width: 375px) {
    .subheading {
        text-align: left;
    }
}

@media all and (min-width: 1000px) {
    .header-city, .header-information, .favourites, .favourites-add-city, .city {
        flex-basis: 0;
    }

    .current-location {
        display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    gap: 15px 30px;
    }

    .favourites-add-city {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .text-refresh {
        display: block;
        text-align: center;
        border: none;
        width: 20vmax;
        height: 100%;
        font-size: 1.3vmax; 
        color: #808f97;
        padding-top: 2%;
    }

    .text-refresh-none {
        display: none;
    }

    .pinned-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media all and (min-width: 320px) {
    body {
        overflow-x: hidden;
    }
}

h2 {
    font-size: 3.5vmax; 
    margin: 4%; 
    margin-left: 0%; 
    font-weight: bold; 
    color: #78878c;
}

.no-pinned {
	width: 100%;
	text-align: center;
	display: none;
}

.pinned > * {
    margin-top: 3%;
    margin-bottom: 3%;
}

.card-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-header>div{
	display: inherit;
	align-items: center;
}

.card-header-weather{
	display: flex;
    align-items: center;
}
