@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

html, body, div, span, h1, h2, h3, h4, img, i, ul, li, form, label, legend,
table, caption, article, footer, header, hgroup, 
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

li {
    margin-bottom: 2%;
}

html{
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    flex: 1 100%;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
}

.header-city {
    height: 25vmax;
    text-align: left;
}

.subheading {
    font-size: 3.5vmax;
    color: #76838a;
}

.header-city-temperature {
    display: flex;
    justify-content: space-between;
    padding: 4%;
    padding-left: 0%;
    align-items: center;
    height: 12vmax;
}

.favourites-add-city {
    height: 5vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-new-city {
    height: 3.5vmax;
    font-size: 1vmax;
    font-family: inherit;
    padding: 0.25em 0.5em;
    flex: 1;
    background-color: #f1f1f1;
    border: none;
}

.city {
    margin-top: 3vmax;
    height: 30vmax;
    width: 30vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.refresh-button {
    transition: 0.2s;
    background-color: #c9d2d7;
    border-radius: 0.3vmax;
    padding: 1%;
}

.text-refresh {
    display: none;
}

.text-refresh-none {
    display: block;
    width: 3vmax;
    height: 3vmax;
}

.refresh-button:hover { background: #a7b0b4; }

.refresh-button:active {
    background: #808f97;
    color: white;
}

.round {
    width: 3.5vmax;
    height: 3.5vmax;
    font-size: 2.5vmax;
    color: white;
    text-decoration: none;
    border-radius: 100vmax;
    background: #718188;
    transition: 0.2s;
    margin-left: 2%;
}

.round:hover { background: #596368; }

.round:active {
    background: #596368;
    box-shadow: 0 3vmax #596368 inset;
    color: #6b767c;
}

.img-header {
    width: 12vmax;
    height: 12vmax;
    float: left;
}

.img-general {
    width: 6vmax;
    height: 6vmax;
}

.weather-info {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.info-item {
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #a7afb1;
    color: white;
}

.city-name {
    font-size: 2vmax;
    font-weight: bold; 
    color: #78878c;
    margin-right: 10%;
}

.header-temperature {
    font-size: 10vmax;
    color: #7d7d7d;
    font-weight: bold;
}

.temperature-information {
    font-size: 3vmax;
    color: #7d7d7d;
    font-weight: lighter;
}

h4, p {
    font-weight: bold;
    font-size: 1.5vmax;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.light {
    font-weight: lighter;
}

button {
    padding: 0;
    border: none;
    outline: none;
}

h2 {
    font-size: 3.5vmax; 
    margin: 4%; 
    margin-left: 0%; 
    font-weight: bold; 
    color: #78878c;
}

h4 {
    margin-right: 1%;
}

.no-pinned {
	width: 100%;
	text-align: center;
	display: none;
}

.pinned > * {
    margin-top: 3%;
    margin-bottom: 3%;
}

.pinned-template-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pinned-template-header>div{
	display: inherit;
	align-items: center;
}

.pinned-template-header-weather{
	display: flex;
    align-items: center;
}

.loading-window {
    width: 100%;
    text-align: center;
    margin: 3%;
}

.loading-window img {
    width: 10vmax;
    height: 10vmax;
}

.width100 {
    width: 100%;
}