@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: scroll;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 1vmax;
    margin: 1vmax;
    flex: 1 100%;
}

.header {
    /* border: 4px double black; */
    display: flex;
    justify-content: space-between;
}

.header-city {
    height: 25vmax;
    width: 25vmax;
    text-align: left;
}

.subheading{
    font-size: 3.5vmax;
    color: #76838a;
}

.header-city-tempurature {
    display: flex;
    justify-content: space-between;
    padding: 4%;
    padding-left: 0%;
    align-items: center;
    height: 12vmax;
}

.header-information {
    height: 25vmax;
    width: 25vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 0%; */
}

.break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}

.favourites {
    height: 5vmax;
    width: 25vmax;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.favourites-add-city {
    margin-right: 2%;
    height: 5vmax;
    width: 25vmax;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 20vmax; */
}

.add-new-city {
    height: 3.5vmax;
    font-size: 1vmax;
    font-family: inherit;
    padding: 0.25em 0.5em;
    flex: 1;
    background-color: #f1f1f1;
    border: none;
}

.city {
    margin-top: 3vmax;
    height: 30vmax;
    width: 30vmax;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-information {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7vmax;
    width: 100%;
    padding-right: 3%;
}

.refresh-button {
    text-align: center;
    border: none;
    width: 20vmax;
    height: 100%;
    border-radius: 0.3vmax;
    transition: 0.2s;
    background-color: #c9d2d7;
    font-size: 1.3vmax; 
    color: #808f97;
    margin-right: 1%;
}

.refresh-button:hover { background: #a7b0b4; }

.refresh-button:active {
    background: #808f97;
    box-shadow: 0 3vmax #808f97 inset;
    color: white;
}

.round {
    width: 3.5vmax;
    height: 3.5vmax;
    font-size: 2.5vmax;
    color: white;
    text-decoration: none;
    border-radius: 100vmax;
    background: #718188;
    transition: 0.2s;
    margin-left: 2%;
}

.round:hover { background: #596368; }

.round:active {
    background: #596368;
    box-shadow: 0 3vmax #596368 inset;
    color: #6b767c;
}

.img-header {
    width: 12vmax;
    height: 12vmax;
    float: left;
}

.img-general {
    /* border: 0.1vmax solid #596368; */
    width: 6vmax;
    height: 6vmax;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul li {
    padding: 0.5vmax;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 2%;
    margin-left: 0%;
    background-color: #a7afb1;
    color: white;
}

.city-name {
    font-size: 3vmax;
    font-weight: bold; 
    color: #78878c;
}

.header-tempurature {
    font-size: 10vmax;
    color: #7d7d7d;
    font-weight: bold;
}

.temperature-information {
    font-size: 3vmax;
    color: #7d7d7d;
}

span {
    font-weight: bold;
    font-size: 1.5vmax;
}

.light {
    font-weight: lighter;
}

button {
    padding: 0;
    border: none;
    outline: none;
}

@media all and (min-width: 1500px) {
    .header-city, .header-information, .favourites, .favourites-add-city, .city {
        flex: 1 1 0;
    }

    .favourites-add-city {
        margin-left: 30vmax;
    }

    .refresh-button {
        /* margin-right: 38vmax; */
    }
}

/* @media all and (max-width: 900px) {
    .favourites-add-city {
        margin-left: 1vmax;
    }
} */

@media all and (min-width: 320px) {
    body {
        overflow-x: hidden;
    }
}