@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#ffffff,#ece0d1, #dbc1ac, #967259);
    background-size: cover;
}

.main {
    margin-top: 50px;
}

body{
    margin:0;
    height:100%;
    background-size:100%;
}

.welcoming {
    height: 920px;
    overflow: auto;
    background-image: url('../img/coffee--wallpaper.jpg');
    background-size: cover;
    clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 10vw)
    );
    /* border-bottom-left-radius: 30% 10%;
    border-bottom-right-radius: 30% 10%; */
}

.first_column {
    width: 600px;
    /* justify-content: center; */
}

.second_column {
    width: 800px;
}

.third_column {
    width: 500px;
}

.info {
    /* width: 1920px; */
    height: 920px;
    display: flex;
    justify-content: center;
}

.info-item {
    margin: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.review {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    background: rgba(99,72,50, 0.3);
    border-radius: 10px; 
    align-items: center;
    justify-content: center;
    /* width: 400px; */
    width: 100%;
}

.text {
    /* width: 200px; */
    width: 60%;
    margin-right: 15px;
}

.photo {
    width: 100px;
    border-radius: 50%;
    height: 100px;
}

.profile {
    border-radius: 50%;
}

.review-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.name{
  font-size: 12px;
  line-height: 18px;
  color: #38220f;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.gallery {
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 100px;
    width: 600px;
    height: 500px;
    padding: 5px;
}

.rounded{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .clipped-border{    
     border-radius: 50%;
     padding:5px;
     background:linear-gradient(#000000,#dfbe95);
     height: 100%;
     width: 100%;
     position:absolute;
  }

  .button {
    display:block;
    border-radius: 50%;
    border-style: none;
  }
  
  .first{
    margin-left:15%;
    margin-top: 2%;
    height: 300px;
    width: 300px;
  }

  .second{
    margin-top:15%;
    margin-left:3%;
    height: 200px;
    width: 200px;
  }
  
  .third{
    margin-top: 5%;
    height: 130px;
    width: 130px;
    margin-left: 5%;
  }
  
  .fourth{
    margin-top:23%;
    margin-left:14%;
    height: 250px;
    width: 250px;
  }
  
  .fifth{
    margin-top:20%;
    margin-left:30%;
    height: 100px;
    width: 100px;
  }

  .sixth{
    margin-top:10%;
    margin-left:35%;
    height: 170px;
    width: 170px;
  }

  .clipped-border:hover{
    transform:scale(1.2);
    transition:transform 0.2s;
    z-index:10;
  }

  .bundle {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-right: 15px;
  }

  .product-image {
    border-radius: 10px; 
    height: 150px;
    width: auto;
  }

.assorti-image {
    margin-right: 15px;
    border-radius: 10px; 
    height: 150px;
    width: auto;
  }