@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    background-image:url('../imag/background.jpg');
    background-size: cover;
}

body{
    margin:0;
    height:100%;
    background-size:100%100%;
}

.welcoming {
    /* width: 1920px; */
    height: 960px;
    /* background: #dfbe95; */

background-image: url('../img/coffee--wallpaper.jpg');
background-size: cover;
}

.first_column {
    width: 300px;
    /* justify-content: center; */
}

.second_column {
    width: 900px;
}

.third_column {
    width: 600px;
}

.info {
    /* width: 1920px; */
    height: 960px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 50px; /* Add a top margin to avoid content overlay */
}
