@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#ffffff,#ece0d1, #dbc1ac, #967259);
	background-size: cover;
}

body{
    margin:0;
    height:100%;
    background-size:100%;
    overflow-x: hidden;
}

.main {
    margin-top: 50px;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}


#page-container {
    position: relative;
    min-height: 70vh;
}
  
#footer {
    bottom: 0;
    width: 100%;
    height: auto;
}

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-text, .about-img {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}