.container {
    display: flex;
    border: 4px double black;
    flex-direction: row;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    border: 4px double rgb(255, 0, 0);
}

* {
    box-sizing: border-box;
}
  
.box:first-child > span { margin-right: auto; }
  
.box:last-child  > span { margin-left: auto;  }

.header {
    border: 4px double black;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.weather-here{
    font-size: 150%; 
    color: #76838a;
}

.refresh-button {
    text-align: center;
    border: none;
    width: 20vmax;
    height: 100%;
    border-radius: 0.3vmax;
    transition: 0.2s;
    background-color: #c9d2d7;
    font-size: 80%; 
    color: #808f97;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}