@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: scroll;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 1vmax;
    margin: 1vmax;
    flex: 1 100%;
}

.header {
    border: 4px double black;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.headerCity {
    height: 25vmax;
    width: 25vmax;
    text-align: left;
    background-color: #CCCCFF;
}

.weather-here{
    font-size: 150%; 
    color: #76838a;
}

.headerCityTempurature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vmax;
}

.headerInformation {
    height: 25vmax;
    width: 25vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCCCFF;
}

.break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}

.favourites {
    height: 5vmax;
    width: 25vmax;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: #CCCCFF;
}

.favouritesAddCity {
    height: 5vmax;
    width: 25vmax;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #CCCCFF;
}

.city {
    margin-top: 3vmax;
    height: 25vmax;
    width: 25vmax;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #CCCCFF;
}

.cityInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7vmax;
    width: 45vmax;
}

footer {
    background-color: #CCCCFF;
    width: 100%;
    text-align: center;
}

.refresh-button {
    text-align: center;
    border: none;
    width: 20vmax;
    height: 100%;
    border-radius: 0.3vmax;
    transition: 0.2s;
    background-color: #c9d2d7;
    font-size: 80%; 
    color: #808f97;
}

.refresh-button:hover { background: #80A6FF; }

.refreshButton:active {
    background: #00FFFF;
    box-shadow: 0 3vmax #00FFFF inset;
    color: black;
}

.round {
    width: 8vmax;
    height: 4.5vmax;
    font-size: 2vmax;
    color: white;
    text-decoration: none;
    border-radius: 100vmax;
    background: #00BFFF;
    transition: 0.2s;
    margin-left: 2%;
}

.round:hover { background: #80A6FF; }

.round:active {
    background: #00FFFF;
    box-shadow: 0 3vmax #00FFFF inset;
    color: black;
}


/*
images
*/
.imgHeaderCity {
    width: 12vmax;
    height: 12vmax;
    float: left;
}

.imgCityWeather {
    width: 6vmax;
    height: 6vmax;
}


/*
ul
*/
ul {
    list-style-type: none;
    padding: 0;
    margin: 2vmax;
    width: 100%;
}

ul li {
    padding: 0.5vmax;

    display: flex;
    justify-content: space-between;
}


/*
input
*/
.addNewCity {
    height: 3.5vmax;
    font-size: 1vmax;
    border-radius: 5vmax;
    font-family: inherit;
    padding: 0.25em 0.5em;
    flex: 1;
}


/*
fonts
*/
h1 {
    font-size: 3vmax;
}

h2 {
    font-size: 3vmax;
}

h3 {
    font-size: 3vmax;
}

h4 {
    font-size: 2vmax;
}

.headerTempurature {
    font-size: 5vmax;
}

.temperatureInformation {
    font-size: 2vmax;
}

span {
    font-weight: bold;
    font-size: 1.5vmax;
}

.copyright {
    font-size: 1.5vmax;
    font-weight: bold;
}


/*
desktop version
*/
@media all and (min-width: 900px) {
    .headerCity, .headerInformation, .favourites, .favouritesAddCity, .city {
        flex: 1 1 0;
    }
}

@media all and (min-width: 320px) {
    body {
        overflow-x: hidden;
    }
}